<%- include('../userheader.ejs')%>

<script src="../public/js/script.js"></script>

<div class="main-content">
  
  <div class="card-container left-container">

   
            <div class="card-container2">
              <form action="/updatequn" method="post">
                <div class="card3">
                  <% for (let i = 0; i < items.length; i++) { %>
                    <div class="carddisp">
                      <h3><%= items[i].itemName %></h3>
                      <h3 class="card3price">₹<%= items[i].itemPrice*items[i].itemQuntity %></h3>
                      <!-- <div class="card-quantity3"> -->
                        <input type="text" id="secret-field" name="itemid" value="<%= items[i].itemId %>" class="hidden-field">

                        <input type="number" name="itemqun" value="<%= items[i].itemQuntity %>" >
                        <button style="background-color: #f2f2f2;" class="remove-button" type="button" onclick="removeItem('<%= items[i].itemId %>')">
                          <i class="fas fa-trash"></i>
                        </button>
                      <!-- </div> -->
                    </div>
                    <div class="line"></div>
                  <% } %>
                </div>
              </form>
                   
              <!-- Add more card elements here as needed -->
            </div>
    </div>
             
  <div class="card-container right-container">

      <div class="card3_1">
            <h2 class="invoice">INVOICE</h2>
            <div class="line"></div>
            <!-- Add your code to display cart item details and totals -->
            <h3>Amount : ₹<%= sum %></h3>
            <h3>Delivery charge: ₹<% let da = 0; if (sum <= 100) { da = 15; %> 
                <%= da %>
                <% } else if (sum > 100 && sum <= 200) { da = 20; %>
                  <%= da %>
                  <% } else if (sum <= 300) { da = 25; %>
                    <%= da %>
                    <% } else if (sum > 300) { da = 30; %>
                      <%= da %>
                      <% } %>
                    </h3>
                    
                    <h3>Total : ₹<%= sum+da %></h3>
          <!-- Checkout form with location textarea and checkout button -->
          <div class="card-body">
          <h2>Delivery Details</h2>
          <form action="/checkout" method="post">
            <div class="form-group">
              <label for="location">Location:</label>
              <input type="text" class="text-field" id="location" name="location" placeholder="Room No, (Block name/Hostel Name)"></input>
            </div>
            <!-- <input type="text" id="secret-field" name="fdcid" value="<%= items[0].foodCounterId%>" class="hidden-field"> -->

            <button type="submit" id="notify" class="checkout-button" onclick="sendNotify('<%= items[0].foodCounterId %>')">Checkout</button>
          </form>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
    
    
</div>
<%- include('../footer.ejs')%>
