<%- include('../userheader.ejs')%>

<div class="main-content">
    <div class="container1">
          
      <% for (let i = 0; i < counters.length; i++) { %>
        <div class="card" style="--clr: #009688">
          <div class="img-box">
            <img src="<%= counters[i].fdcImg %>">
          </div>
          <div class="content">
            <h2><%= counters[i].foodCounterName %></h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Architecto, hic? Magnam eum error saepe doloribus corrupti
              repellat quisquam alias doloremque!
            </p>
            <a href="menu/<%= counters[i].foodCounterId %>">Menu</a>
          </div>
        </div>
      <% } %>
        
      </div>
  </div>
<%- include('../footer.ejs')%>
