<%- include('../dpheader.ejs')%>
<div class="main-content">
    <script src="../public/js/script.js"></script>
    <div class="card-container2">
        <section class="vh-100" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                      <div class="vendor-container">
                        <h2>My Account</h2>
                        <!-- <div class="vendor-image">
                          <img src="../<%= vendtl[0].fdcImg %>" alt="Food Counter Image">
                        </div> -->
                        <div class="vendor-details">
                          <p><strong>Id:</strong><%= acntdtl[0].dpId %></p>
                          <p><strong>Name:</strong><%= acntdtl[0].dpName %></p>
                          <p><strong>Phone:</strong><%= acntdtl[0].dpContact %></p>
                        </div>
                      </div>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
          

                      
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section> 
    </div>
</div>
<%- include('../footer.ejs')%>
