<%- include('../dpheader.ejs')%>
<div class="main-content">
    <script src="../public/js/script.js"></script>
    <div class="card-container3">
        <% for (let i = 0; i < openorders.length; i++) { %>
            
        <div class="card3">
            <form method="post" action="/verify">
            <h2>Order Invoice:</h2>
            <div class="card-details3">
                <h5><strong>Pick Up : </strong> <%= fdcnames[i] %></h5>
                <h5> <strong>Delivery Location : </strong><%= openorders[i].deliveryAddress %></h5>
                <h5><strong>Food Counter contact : </strong><%= fdcconts[i] %></h5>
                <h5><strong>Customer Name : </strong><%= usernames[i] %></h5>
                <h5><strong>Customer Contact : </strong><%= userconts[i] %></h5>
                <h5><strong>Order Amount : </strong><%= openorders[i].orderTotalAmount %></h5>
            </div>
            <div class="otpdisp">
                <input type="text" id="secret-field" name="orderid" value="<%= openorders[i].orderId %>" class="hidden-field">
                <div class="otp-input-wrapper">
                    <input type="text" name="delotp" class="delotp" placeholder="Enter OTP" pattern="[0-9]*" inputmode="numeric">
                    <button type="submit" class="delivery-button">Delivery Done</button>
                </div>
            </div>
            
            </form>
        </div>
        <% } %>
        
        <!-- Add more card elements here as needed -->
    </div>

</div>
<%- include('../footer.ejs')%>
